.card_quiz {
	width:100%;
	box-shadow: none!important;
}

.card_quiz_text {
	font-family:'Lora', serif;
}

.quiz_buttons{
	width: 70%!important;
	padding: 15px 0!important;
}



.progress-container .progress {
	height: 10px;
}
.progress {
	font-size: 2rem;
}

@media only screen and (max-width: 900px) {

} 

@media only screen and (max-width: 850px) {

} 

@media only screen and (max-width: 650px) {

} 