.card_quiz {
	width:100%;
	box-shadow: none!important;
}

.card_quiz_text {
	font-family:'Lora', serif;
}

.card_quiz .body_button_mine{
	width:100%;
}

.progress-container .progress {
	height: 10px;
}
.progress {
	font-size: 2rem;
}

@media only screen and (max-width: 900px) {

} 

@media only screen and (max-width: 850px) {

} 

@media only screen and (max-width: 650px) {

} 