.card {
	position: fixed;
	display: block;
	background-color: rgba(250, 250, 250, 0.9);
}
.card-title, .card-text, .card-header {
	color:black;
	word-spacing: 0.2rem;
}
.progress-container .progress {
	height: 10px;
}
.progress {
	font-size: 2rem;
}
.card, .text-center {
	height: 25rem;
}

.btn {
	white-space: normal;
}

.milk-bg {
	background-image: url("./quizphotos/milk.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dark-bg{
	background-image: url("./quizphotos/dark.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.whitechoco-bg{
	background-image: url("./quizphotos/whitechoco.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.honey-bg{
	background-image: url("./quizphotos/honey.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.coffee-bg{
	background-image: url("./quizphotos/coffee.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.lemon-bg{
	background-image: url("./quizphotos/lemon.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.salty-bg{
	background-image: url("./quizphotos/salty.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.leader-bg{
	background-image: url("./quizphotos/leader.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.adven-bg{
	background-image: url("./quizphotos/adven.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bohemian-bg{
	background-image: url("./quizphotos/bohemian.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fun-bg{
	background-image: url("./quizphotos/fun.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.satisfaction-bg{
	background-image: url("./quizphotos/satisfaction.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bottles-bg{
	background-image: url("./quizphotos/4bottles.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fee-bg{
	background-image: url("./quizphotos/fee.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.database-bg{
	background-image: url("./quizphotos/database.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn_custumized {
	width: 12rem;
	height: 7rem;
	padding: 0;
	margin-left:0.5rem;
	margin-right:0.5rem;
	font-weight: 700;
	font-size: 1.2rem;
}

.btn_last_link {
	width: 12rem;
	height: 2rem;
	padding: 0;
	margin-left:1.5rem;
	margin-right:1.5rem;
	font-size: 1rem;
}

.card_last_link {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-group{
	color:black;
	display: inline-block;
}
.list-group-item{
	padding: .35rem 1rem;
	font-weight: 200!important;
}
.card-footer{
	margin-top:0!important;
}

/*quiz7, each card has shadow*/
.one_last_link{
	box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
    margin: 0.5rem 1.5rem;
}

@media only screen and (max-width: 900px) {

} 

@media only screen and (max-width: 800px) {

} 

@media only screen and (max-width: 600px) {
	.card, .text-center {
		font-size: 0.7rem;
		width:90%;
	}

	h3.card-text {
		font-size: 1rem;
	}

	.btn_custumized {
	width: 12rem;
	height: 2rem;
	padding: 0;
	margin-left:0.5rem;
	margin-right:0.5rem;
	font-weight: 600;
	font-size: 1rem;
	}
	.list-group-item{
	padding: 0rem 1rem;
	}	
	p.card-text > i.now-ui-icons{
		display: none;
	}
	.one_last_link{
		display: flex;
	    justify-content: center;
	    box-shadow: none;
	}
} 