/*"welcome to 4wines"*/
.page-header .content-center .quiz_card{
	top:-40vh!important;
}


.quiz_card {
	position: fixed;
	display: block;
	background-color: rgba(104,91,100,.5);
	background: linear-gradient(0deg,rgba(104,91,100,.5),rgba(60,24,120,0.9));
}

/*question text*/
.quiz_card_text {
	color:white;
	word-spacing: 0.2rem;
	text-align: center;
	font-weight: bold;
}

.progress-container .progress {
	height: 10px;
}
.progress {
	font-size: 2rem;
}

.quiz_card, .text-center {
	height: 80vh;
}

.btn {
	white-space: normal;
}

.test_class{
	display: flex;
	justify-content: center;
}

.btn_custumized {
	background-color: rgba(204,91,59,.1);
	background-image: none;
    color: #fff!important;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid white;
	width: 12rem;
	height: 20vh;
	padding: 0;
	margin-left:1rem;
	margin-right:1rem;
	font-size: 1.2rem;
	padding-left:3rem;
	padding-right:3rem;
}
.btn_custumized:hover {
	background-color: rgba(204,91,59,.3)!important;
	border: 2px solid #17a2b8;
}
.btn_custumized:focus {
	background-color: rgba(204,91,59,.3)!important;
	border: 2px solid #17a2b8;
}
.btn_custumized:activate {
	background-color: rgba(204,91,59,.5)!important;
	border: 2px solid #17a2b8!important;
}


.btn_last_link {
	width: 12rem;
	height: 2rem;
	padding: 0;
	margin-left:1.5rem;
	margin-right:1.5rem;
	font-size: 1rem;
}

.card_last_link {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-group{
	color:black;
	display: inline-block;
}
.list-group-item{
	padding: .35rem 1rem;
	font-weight: 200!important;
}
.card-footer{
	margin-top:0!important;
	font-size: 1rem;
}

/*quiz7, each card has shadow*/
.one_last_link{
	box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
    margin: 0.5rem 1.5rem;
}

/*yes & later*/
.quiz_button{
	background-color: rgba(204,91,59,.1);
	background-image: none;
    color: #fff!important;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid white;
}
.quiz_button:hover {
	background-color: rgba(204,91,59,.3)!important;
	border: 2px solid #17a2b8;
}
.quiz_button:focus {
	background-color: rgba(204,91,59,.3)!important;
	border: 2px solid #17a2b8;
}
.quiz_button:active {
	background-color: rgba(204,91,59,.5)!important;
	border: 2px solid #17a2b8!important;
}

@media only screen and (max-width: 900px) {

} 

@media only screen and (max-width: 850px) {
	.try_demo{
		margin-top: 0;
	}
	.btn_custumized {
		height: 12vh;
		padding-left:0.5rem;
		padding-right:0.5rem;
	}
	.milk-bg,.dark-bg,.whitechoco-bg,.honey-bg,.coffee-bg,.lemon-bg,.salty-bg,.leader-bg,.adven-bg,.bohemian-bg,.fun-bg,.satisfaction-bg,.bottles-bg,.fee-bg, .database-bg{
	background-color: rgba(204,91,59,.1);
	background-image: none;
    color: #fff!important;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid white;
	}
	.test_class{
		display: inline-block;
	}
} 

@media only screen and (max-width: 650px) {
	.quiz_card, .text-center {
		font-size: 0.7rem;
		width:90%;
		height: 80vh;
	}

	.try_demo{
		margin-top: 5vh;
	}

/*Nani??????*/
/*
	h3.card-text {
		font-size: 1rem;
	}
	p.card-text > i.now-ui-icons{
		display: none;
	}*/

	.btn_custumized {
	width: 12rem;
	height: 10vh;
	padding: 0;
	margin-left:0.5rem;
	margin-right:0.5rem;
	font-weight: 600;
	font-size: 1rem;
	}
	.list-group-item{
	padding: 0rem 1rem;
	}	

	.one_last_link{
		display: flex;
	    justify-content: center;
	    box-shadow: none;
	}

	.milk-bg,.dark-bg,.whitechoco-bg,.honey-bg,.coffee-bg,.lemon-bg,.salty-bg,.leader-bg,.adven-bg,.bohemian-bg,.fun-bg,.satisfaction-bg,.bottles-bg,.fee-bg, .database-bg{
	background-color: rgba(204,91,59,.1);
	background-image: none;
    color: #fff!important;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid white;
	}





} 