body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-size: cover;
}

#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}

/*navi bar font adjustment*/
.navbar-translate {
    font-weight: 900;
    font-size: 2em;
}

/*Discover your next wine*/
#discover {
    font-size: 5.5rem;
    font-weight: 900;
}

/*orange to gray*/
.bg-primary {
    background-color: #2c2c2c!important;
}

/*Explore now*/
.btn-primary {
    background-color: #ea1839!important;
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 7%;
}
.btn-primary:hover {
    background-color: #DE8B8B!important;
}
.btn-primary:focus {
    background-color: #DE8B8B!important;
}

.index-page .page-header .container>.content-center {
      top: 50%;
}

.navbar p {
    font-size: 1.2rem;
}

.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 3.7142em;
}

/*first card message*/
.card {
  font-size: 1.2rem;
}










/* Medium devices (landscape tablets, 991px and down) */
@media only screen and (max-width: 991px) {
  .index-page .page-header .container>.content-center {
      top: 45%;
  }
  .page-header .content-center {
      width: 90%;
  }
  #discover {
    font-size: 4.7rem;
  }
  .btn-primary {
    font-size: 1em;
  }

  .sidebar-collapse .navbar-collapse:before {
    background: #f96332;
    background: linear-gradient(#ea1839,#000 80%);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (max-width: 768px) {}*/



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #discover {
    font-size: 2.5rem;
  }
  #myVideo {
    left: -50%;
  }
} 


@media only screen and (max-width: 550px) {#myVideo {left: -60%;}} 
@media only screen and (max-width: 500px) {#myVideo {left: -70%;}} 
@media only screen and (max-width: 450px) {#myVideo {left: -100%;}} 
@media only screen and (max-width: 400px) {#myVideo {left: -147%;}} 



/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {}*/


/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...} */



/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...} */

