body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/*bg filter*/
.clear-filter[filter-color=orange] {
    background: rgba(0,168,255,0.5);
    background: linear-gradient(270deg,rgba(0,168,255,0.5),rgba(185,0,255,0.5));
}

/*4 W I N E S*/
.logo{
	font-family:'Lora', serif;
	font-size:4rem;
	letter-spacing:0.3rem;
}

.logo_sub{
	font-family:'Open Sans', sans-serif;
}


/*Logo top*/
.page-header .content-center {
	top:45vh;
}

/*"try our demo*/
.try_demo{
	background-color: rgba(204,91,59,.1);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid white;
    margin-top:4rem;
}
.try_demo:hover {
	background-color: rgba(60,24,50,.5);
	border: 2px solid white;
}
.try_demo:focus {
	background-color: rgba(60,24,50,.5);
	border: 2px solid white;
}
.try_demo:active {
	background-color: rgba(60,24,50,.9)!important;
	border: 2px solid white!important;
}
.explore_more{
	color:white!important;
}

.explore_down_icon{
	display: block;
}



@media only screen and (max-width: 900px) {
	.logo {
		font-size: 3.5rem;
	}
} 

@media only screen and (max-width: 800px) {
	/*Logo top*/
	.page-header .content-center {
		top:55vh;
	}
} 

@media only screen and (max-width: 600px) {
	.try_demo{
	    margin-top:3rem;
	}
} 

/*@media only screen and (max-width: 550px) {#myVideo {left: -60%;}} 
@media only screen and (max-width: 500px) {#myVideo {left: -70%;}} 
@media only screen and (max-width: 450px) {#myVideo {left: -100%;}} 
@media only screen and (max-width: 400px) {#myVideo {left: -147%;}}*/